BODY {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 70px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.menu {
    background-color: rgb(51, 255, 0);
    width: auto;
    height: 60px;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    margin-left: 50px;
    color: whitesmoke;
}

.orange {
    color: orange;
}

.top-section {
    display: flex;
    margin: 0px;
}

.top-text {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 220px;
}

.top-image img {
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(255, 94, 0), rgb(255, 153, 0));
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 5px 7px 30px tomato;
}

.mid-image img {
    width: 100%;
    margin-left: 300px;
    margin-top: 100px;
}

.mid-text {
    margin-top: 150px;
    margin-left: 700px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.mid-text p {
    text-align: left;
}

.mid-banner {
    background-image: url(images/shapes/7.png);
    background-size: cover;
}

.text-align {
    text-align: center;
    margin: 100px 300px;
}

.recipe-items {
    display: flex;
}

.box {
    width: 25%;
    margin: 5%;
    margin-right: 5%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 20px 20px 45px grey;
}

.box img {
    width: 260px;
    height: 150px;
    border-radius: 15px;
}

.box p {
    text-align: left;
}

.area-half {
    margin: 6%;
    width: 30%;
}

.area-section {
    display: flex;
    box-shadow: 10px 10px 40px grey;
    margin: 7%;
    margin-bottom: 10%;
    border-radius: 120px;
    background-color: white;
}

.footer {
    padding-top: 50px;
    color: white;
    background-color: rgb(224, 93, 143);
    padding-bottom: 70px;
    width: auto;

}

.footer p {
    text-align: center;
}

#size {
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-top: 20px;
}