BODY {
    font-family: 'Merriweather', serif;
    margin: 0px;
}

h1 {
    font-size: 70px;
}

p {
    font-family: 'Merriweather', serif;
}

.orange {
    color: orange;
}

.display {
    display: flex;
    margin: 5px;
}

#padding {
    margin: 100px;

}

#padding-top {
    padding-top: 0px;
    margin: 100px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(255, 94, 0), rgb(255, 153, 0));
    border-radius: 20px;
    padding: 15px;
    margin: 40px;
    margin-left: 20pxS;
    box-shadow: 12px 7px 40px tomato;
}

#img {
    width: 80%;
    padding-top: 50px;
    margin-left: 200px;

}

#back-image {
    background-image: url(images/shapes/7.png);
}

.text-align {
    text-align: center;
}

#recipe-title {
    width: 400px;
    border: 20px;
    margin-left: 70px;
    padding: 10px 10px 20px 10px;
}

.box-1 {
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 20px 18px 40px gray;
    border-radius: 40px;
}

.box-2 {
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 20px 18px 40px gray;
    border-radius: 40px;
}

.box-3 {
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 20px 18px 40px gray;
    border-radius: 40px;
}

.youtube {
    margin: 30px;
    margin-left: 200px;
}

.instagram {
    margin: 30px;
    margin-left: 100px;
}

.dribble {
    margin: 30px;
    margin-left: 100px;
}

#shadow {
    box-shadow: 20px 20px 20px grey;
    border: 20px;
    border-radius: 40px;
    background-color: honeydew;
    margin: 90px;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 70px;

}

#size {
    font-size: 40px;
    padding-top: 20px;
}